html,
body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}
*{
    max-width: 100vw;
}
body {
    margin: 0;
}
::selection{
    color: black;
    background-color: aquamarine;
}
::-moz-selection{
    color: black;
    background-color: aquamarine;
}
@keyframes h1in {
    0% {
        transform: translateX(0em);
        opacity: 0;
    }
    20%{
        transform: translateX(5em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes h3in {
    0% {
        transform: translateY(0em);
        opacity: 0;
    }
    20% {
        transform: translateY(5em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes headingh1in{
    from{
        transform: translateY(-6em);
        opacity: 0;
    }to{
        transform: translateY(0em);
        opacity: 1;
    }
}
h1 {
    font-size: 4.25rem;
    animation-name: h1in;
    animation-duration: 1s;
    margin-bottom: .1em;
}
.intro h1{
    animation-name: headingh1in;
}
h3 {
    font-size: 2rem;
    animation-name: h3in;
    animation-duration: 1s;
}

.red {
    background-color: rgb(174, 0, 0);
}

.blue {
    background-color: rgb(3, 21, 102);
}

.purple {
    background-color: rgb(122, 44, 175);
}

.green {
    background-color: rgb(16, 87, 40);
}

.intro {
    float: right;
    min-width: 30vw;
    height: 90vh;
    display: flex;
    align-items: center;
}

.intro .rectangles div {
    width: 100vw;
    height: 100vw;
    opacity: .6;
    position: absolute;
    top: -50vw;
    right: -50vw;
    z-index: -1;
    border-radius: 5px;
}

.intro .rectangles {
    z-index: -1;
}

.intro .heading {
    z-index: 1;
    opacity: 1;
    margin: 6em;

}

article {
    padding: .5em;
}

article p, li, dl, dd, dt {
    font-size: 1.2rem;
    font-weight: 500;
}
article p::first-letter{
    font-size: 108%;
}
article p::before{
    content: '_';
    font-size: small;
}


img.assistants {
    width: 14em;
}

.assistant-c {
    width: 35em;
    display: grid;
    grid-template:
        'goog siri'
        'googt sirit';
    justify-content: center;
    align-items: center;
    text-align: center;
}

a,
a:visited,
a:link {
    color: rgb(43, 30, 19);
    font-weight: bold;
}
a:hover{
    background-color: rgb(28, 20, 68);
    border-radius: 5px;
    color: white;
}
.heading .h3{
    display: inline;
    width: max-content;
    margin: 0;
    padding: 0;
}
article h3{
    border-left: 7px solid rgb(177, 114, 42);
}
article h1{
    font-size: 3.2rem;
}
.blinker-c{
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 4em;
}
@keyframes blinker{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    51%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
li, dt, dl, dd{
    font-size: 1.2rem;
}
dt::after{
    content: ':';
}
.blinker{
    width: .25em;
    height: 3em;
    background-color: black;
    margin: 0;
    animation-name: blinker;
    animation-duration: .9s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    position: relative;
    margin: .2em;
}
.smallblinker{
    height: 1.2em;
}
#textbubble{
    width: 15em;
    height: 15em;
    margin-left: 4em;
}
.ulimg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
#lock{
    float: right;
    width: max(15em, 20%);
}
#usage{
    margin-bottom: 2em;
}
#usage .ulimg {
    position: relative;
    width: fit-content;
}
#usage .ulimg:hover .uldecor{
    transform: translateX(1.4em);
}
#usage .ulimg:hover .uldecor-rect{
    transform: rotateZ(100deg);
}
#usage .uldecor{
    position: absolute;
    transition: .5s;
    z-index: -1;
    left: 0;
    width: 1px;
    height: 1px;
    border: 7em solid transparent;
    border-left: 7em solid rgba(202, 110, 5, 0.801);
}
#usage .uldecor-rect{
    transition: 5s;
    position: absolute;
    width: 40em;
    height: 40em;
    background-color: rgba(4, 59, 16, 0.795);
    z-index: -1;
    left: -10em;
    transform: rotateZ(25deg);
    border-radius: 10px;
}
#usage dl{
    float: right;
    width: 50%;
    border-bottom: 2px solid black;
}
dd{
    margin-bottom: .75em;
}
dt{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .2em;
}
#advancing .section-decor{
    width: 60%;
    height: 30em;
    background-color: rgba(60, 24, 158, 0.747);
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 5em;
    transform: rotateZ(-5deg);
    transition: 2s;
}
#advancing{
    position: relative;
}
#advancing:hover .section-decor{
    background-color: rgba(5, 8, 170, 0.747);
    border-radius: 20px;
    width: 65%;
}
#security .decors{
    margin: 0;
    width: fit-content;
    position: relative;
}
#security .decors .decor{
    width: 40em;
    height: 40em;
    background-color: rgba(95, 158, 160, 0.514);
    position: absolute;
    margin: 0;
    z-index: -1;
    border-radius: 35%;
    left: 10vw;
}
@keyframes divrot-def {
    from{
        transform: rotateZ(45deg);;
    }to{
        transform: rotateZ(345deg);
    }
}
@keyframes divrot-red {
    from{
        transform: rotateZ(75deg);;
    }to{
        transform: rotateZ(375deg);
    }
}
@keyframes divrot-yellow {
    from{
        transform: rotateZ(90deg);;
    }to{
        transform: rotateZ(390deg);
    }
}
#security .decors .decor.def{
    transform: rotateZ(45deg);
    animation: divrot-def 20s infinite alternate;
}
#security .decors .decor.red{
    background-color: rgba(255, 0, 0, 0.493);
    transform: rotateZ(75deg);
    animation: divrot-red 22s infinite alternate;
}
#security .decors .decor.yellow{
    background-color: rgba(158, 144, 14, 0.493);
    transform: rotateZ(90deg);
    animation: divrot-yellow 25s infinite alternate;
}
#ethics dt{
    background-color: rgba(80, 6, 165, 0.603);
    width: max-content;
}
#ethics .decors{
    position: relative;
}
#ethics .decors .tri{
    width: 40vw;
    height: 40vw;
    border-radius: 5px;
    position: absolute;
    right: -25%;
    top: 0;
    z-index: -1;
    background-color: rgba(71, 6, 114, 0.842);
    transform-origin: center;
    transition: 1s;
    transform: rotateZ(45deg);
}
#ethics:hover .decors .tri{
    transform:  rotateZ(45deg) scale(140%);
    opacity: .9;
}
#coin{
    float: right;
    width: 21em;
}
#market .decors{
    position: relative;
}
#market .decors .decor{
    position: absolute;
    top: -10em;
    right: 2em;
    z-index: -1;
    width: 50em;
    height: 30em;
    background-color: rgba(204, 74, 13, 0.932);
    border-radius: 5px;
    transform: rotateZ(-5deg);
    transition: 2s;
}
#market:hover .decors .decor{
    transform: translateX(-50em) rotateZ(-85deg);
}
@media only screen and (max-width: 1000px) {
    .intro {
        float: left;
        height: max-content;
        width: 100%;
    }

    .intro .heading {
        width: 100vw;
        max-width: 100vw;
        margin: 1em 1em;
    }
    .intro .heading h1{
        width: min(100%, 30em);
    }
    .intro .rectangles div {
        width: 60vh;
        height: 60vh;
        top: 20vw;
        right: -20vh;
    }

    .assistant-c {
        width: 100%;
    }

    .assistant-c img {
        width: 100%;
    }

    html {
        position: fixed;
        height: 100%;
        overflow: hidden;
      }
      
      body {
        margin: 0;
        width: 100vw; 
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
    footer .blinker {
        display: none;
    }
    .ulimg{
        display: grid;
    }
    #usage dl{
        float: initial;
        grid-row: 5;
        border-bottom: 0;
        width: 100%;
    }
    #usage{
        display: grid;
        justify-content: left;
    }
    #textbubble{
        width: 30%;
        height: auto;
        margin: auto;
    }
    #advancing .section-decor{
        height: 100%;
        width: 80%;
        opacity: .8;
        left: 0;
        top: 0;
    }
    #lock{
        width: min(70%, 15em);
        float: initial;
        margin: auto;
    }
    #lock-c{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #security .decors .decor{
        position: absolute;
        top: 10em;
        left: 0;
        width: 30em;
        height: 30em;
        
    }
    #ethics .decors .tri{
        display: none;
    }
    #coinholder{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #coin{
        float: none;
        width: min(10em, 100%);
        margin: auto;
    }
    #market .decors .decor{
        height: 100vh;
    }
    #market:hover .decors .decor{
        transform: rotateZ(-5deg);
    }
}
footer {
    width: 100%;
    height: 4em;
    background-color: rgba(36, 36, 36, 0.848);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
}
#madeby{
    float: right;
    position: relative;
    margin-right: 10px;
}
#madeby ul{
    list-style-type: none;
}
#madeby-bg{
    width: 1px;
    height: 1px;
    border: 100px solid transparent;
    border-bottom: 100px solid rgba(88, 88, 88, 0.848);
    border-top: 0;
    transform: translateY(50%);
    position: absolute;
    right: -10px;
    z-index: -1;
}
p.creator{
    font-size: 1.2rem;
    margin: .11em 0;
}